<section ng-init="homeCtrlInit()">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <button class="list-group-item active" ng-click="contactFilter= '' ">All Contact <span class="badge"> {{totalCount}} </span>  </button>
                <button class="list-group-item" ng-click="contactFilter={groupType:'family'} ">Family <span class="badge"> {{familyCount}} </span> </button>
                <button class="list-group-item" ng-click="contactFilter={groupType:'friends'} ">Friends <span class="badge"> {{friendsCount}} </span> </button>
                <button class="list-group-item" ng-click="contactFilter={groupType:'others'} ">Others <span class="badge"> {{othersCount}} </span> </button>
            </div>
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-9">

            <div class="panel panel-default">
                <table class="table">
                    <tr ng-repeat="contact in contactList | filter : contactFilter ">
                        <td>
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">Contact {{$index+1}}</h4>
                                    <address>
                                      <strong>{{contact.name}}</strong><br>
                                      {{contact.email}}
                                    </address>
                                    <span style="display:none">{{contact.group}}</span>
                                </div>
                            </div>
                        </td>
                        <td width="100px" class="mymiddle">
                            <button class="btn btn-circle btn-default btn-xs" title="Edit" ng-click="editContact(contact._id)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button class="btn btn-circle btn-danger btn-xs" title="Remove" ng-click="deleteContact(contact._id)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</section>
